<!DOCTYPE html>
<html>
<head>
<title>Workspace</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "createjs-2015.11.26.min.js" %>
<%= javascript_include_tag "Slider.js" %>
<%= javascript_include_tag "Wedge.js" %>
<%= csrf_meta_tags %>
  
   
 <script>
    var stage, cont, arrow, cursorWedge, spacebarState, cursorWedgeStart;
    
    var debugtext, musictext;
    
    
    var KEYCODE_SPACEBAR = 32;
    
    var gongSound;
    
    var firstWedge, secondWedge, thirdWedge;

    var wedges = [], wedgeCounter;
    
    //var wedgeCounter;
    
    function init() {
        
    if (!createjs.Sound.initializeDefaultPlugins()) {return;} //sound
 
     var audioPath = 'assets/';
     var sounds = [
        {id:"Gong", src:"23582__loofa__gong3-a38b9f27927c2861a62ab5ad2bbdfac17257ee5fad97c467d84122dffabf38e8.mp3"},
     ];
    //createjs.Sound.addEventListener("fileload", handleLoad); //play on file load I guess?
    createjs.Sound.registerSounds(sounds, audioPath);    
        
    spacebarState = false;
    
    stage = new createjs.Stage("canvas"); // points to the canvas element in html body
    cont = stage.addChild(new createjs.Container());// container to hold the circle
    cont.x = cont.y = 250;
    cont.rotation -= 90;
    
    // firstWedge = new Wedge(0,90);
    // firstWedge.awake = true;
    // firstWedge.drawWedge(cont);
    
    // secondWedge = new Wedge(90,270,0.5);
    // secondWedge.awake = false;
    // secondWedge.alpha = 0;
    // secondWedge.drawWedge(cont);
    
    // thirdWedge = new Wedge(270,0);
    // thirdWedge.awake = false;
    // thirdWedge.alpha = 0;
    // thirdWedge.drawWedge(cont);
    
    wedges[0] = new Wedge(0,80);
    wedges[1] = new Wedge(80,130);
    wedges[2] = new Wedge(130,250);
    wedges[3] = new Wedge(250,300);
    wedges[4] = new Wedge(300,360);
    
    for (i=0;i<=4;i++) {
        wedges[i].alpha = 1;
        wedges[i].awake = true;}
    for (i=0;i<=4;i++) wedges[i].drawWedge(cont);
    
    
    var circle = new createjs.Shape(); // create the circle background
    circle.graphics.beginFill("DeepSkyBlue").drawCircle(0, 0, 150);
    circle.x = 0;
    circle.y = 0;
    cont.addChild(circle);
    cont.setChildIndex(circle,0);
    
    cursorWedge = new createjs.Shape(); // create the cursor wedge object
    
    debugtext = new createjs.Text("Hello World", "20px Arial", "Black"); //for debugging
    
    debugtext.x = 250;
    debugtext.y = 450;
    debugtext.textBaseline = "alphabetic";
    debugtext.textAlign = 'center';
    stage.addChild(debugtext);
    stage.setChildIndex(debugtext,4);
    
    for(deg = 0; deg <= 360; deg+= 90) { // create 90 degree markers
      var s1 = new createjs.Shape();
      s1.graphics.beginFill("black").drawCircle(150,0,5);
      s1.rotation = deg;
      cont.addChild(s1);
      cont.setChildIndex(s1,cont.getNumChildren() - 1);
    }
    
    // the arrow
    arrow = new createjs.Shape();
    arrow.graphics
      .beginFill("black").drawRect(0,0, 150,2);
    cont.addChild(arrow);
    
    // tick listener
    createjs.Ticker.setFPS(60);
    createjs.Ticker.addEventListener("tick", tick);
    
    // link to the key press
    this.document.onkeydown = keyDown;
    this.document.onkeyup = keyUp;
    
    //tempo slider
    var slider = new Slider(30, 120, 200, 50).set({x: 0, y: 0, value: 60});
	slider.on("change", handleSliderChange, this);
	stage.addChild(cont, slider);
	updateEffect(slider.value);
	
    
    }
    
    function handleSliderChange(evt) {
		updateEffect(evt.target.value);
	}
	
	function updateEffect(value) {
        createjs.Ticker.setFPS(value);
	}
    
//     function handleLoad(event) {
//     createjs.Sound.play(event.src);
// }
    
    function keyDown(event) {

        switch (event.keyCode) { //in case we want other keys
            case KEYCODE_SPACEBAR:
                if (!event.repeat) {
                    // cursorWedge.graphics.f(createjs.Graphics.getRGB(0, 0, 0, 0.25));
                    // spacebarState = true;
                    // cursorWedgeStart = arrow.rotation;

                    // cont.addChild(cursorWedge);
                    // cont.setChildIndex(cursorWedge, cont.getNumChildren() - 1);

                    // gongSound = createjs.Sound.play("Gong");


                    // if (firstWedge.completed === false) {

                    //     firstWedge.attempted = firstWedge.checkTapProximity(cursorWedgeStart);
                    //     if (firstWedge.attempted === true) {
                    //         debugtext.text = "Yeah! Keep going!";
                    //         firstWedge.color = "Gold";
                    //         firstWedge.alpha = 1;
                    //         secondWedge.awake = true;
                    //         break;
                    //     } else {
                    //         youFuckedUp(1);
                    //         break;
                    //     }

                    // } else {
                    //     secondWedge.attempted = secondWedge.checkTapProximity(cursorWedgeStart);
                    // }

                    // if (secondWedge.completed === false ){
                        
                    //     if (secondWedge.attempted === true) {
                    //         debugtext.text = "Yeah! Keep going!";
                    //         secondWedge.color = "Gold";
                    //         secondWedge.alpha = 1;
                    //         thirdWedge.awake = true;
                    //         break;
                    //     } else {
                    //         youFuckedUp(2);
                    //         break;
                    //     }
                    // } else {
                    //         thirdWedge.attempted = thirdWedge.checkTapProximity(cursorWedgeStart);
                    // }
                    
                    // if (thirdWedge.attempted === true) {

                    //     thirdWedge.color = "Gold";
                    //     thirdWedge.alpha = 1;
                    //     debugtext.text = "Yeah! Keep going!";
                    //     break;

                    // } else {
                    //     youFuckedUp(3);
                    //     break;
                    // }
                }

                    break;
                }

}

        
	function keyUp(event) {
		switch(event.keyCode) {
			case KEYCODE_SPACEBAR:
			 //   spacebarState = false;
    //             debugtext.color = "Black";			    
    //             gongSound.stop();
			 //   cursorWedge.graphics.clear();
			 //   cont.removeChild(cursorWedge);
    // 	        debugtext.text = "";
  
    // 	        if (firstWedge.attempted === true) {

    //                 firstWedge.completed = firstWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    // 	            if (firstWedge.completed === true) {
    // 	               debugtext.text = "First wedge complete!";    	       
    //                   firstWedge.color =  "ForestGreen" ;    	       
    //         	       firstWedge.alpha = 1;
    //         	       firstWedge.completed = true;
    //         	       firstWedge.attempted = false;
    // 	            } else {
    //                     youFuckedUp(1);
    // 	            }
    	            
    // 	        }

    // 	        if (secondWedge.attempted === true) {
    	            
    //                 secondWedge.completed = secondWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    // 	            if (secondWedge.completed === true) {
    // 	               debugtext.text = "Second wedge complete!";    	       
    //                   secondWedge.color =  "ForestGreen" ;    	       
    //         	       secondWedge.alpha = 1;
    //         	       secondWedge.completed = true;
    //         	       secondWedge.attempted = false;
    // 	            } else {
    	                
    //                   youFuckedUp(2);  
    // 	            }
    	            
    // 	        }    	        
    	        
    // 	        if (thirdWedge.attempted === true) {

    //                 thirdWedge.completed = thirdWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    // 	            if (thirdWedge.completed === true) {
    // 	               debugtext.text = "LEVEL COMPLETE!";    	       
    //                   thirdWedge.color =  "ForestGreen" ;    	       
    //         	       thirdWedge.alpha = 1;
    //         	       thirdWedge.completed = true;
    //         	       thirdWedge.attempted = false;            	       
    // 	            } else {
    //                 youFuckedUp(3);  
    // 	            }
    	            
    // 	        } 
    	        
    	        
				// break;
		}

	}
	
	function youFuckedUp(whichwedge){ //reset
	    debugtext.text = "You fucked up wedge " + whichwedge +"!";
	    firstWedge.color = secondWedge.color = thirdWedge.color = "LightSeaGreen";  
	    firstWedge.attempted = secondWedge.attempted = thirdWedge.attempted = false;
	    firstWedge.completed = secondWedge.completed = thirdWedge.completed = false;	    
	    secondWedge.awake = thirdWedge.awake = false;
	    secondWedge.alpha = thirdWedge.alpha = 0; 
	    
	}
	
    function tick() {
        arrow.rotation += 1; //nudge arrow every tick
        // var whichCompleted = firstWedge.completed + secondWedge.completed + thirdWedge.completed;
        // if (arrow.rotation % 360 == 0 && whichCompleted != 3 && whichCompleted != 0 ){
        //     youFuckedUp(0);
        // }
        
        //  debugtext.text = "FIRST awake: " + firstWedge.awake + " attempted: " + firstWedge.attempted + " completed: " + firstWedge.completed +"\n"+
        //  "SECOND awake: " + secondWedge.awake + " attempted: " + secondWedge.attempted + " completed: " + secondWedge.completed + "\n" +
        //   "THIRD awake: " + thirdWedge.awake + " attempted: " + thirdWedge.attempted + " completed: " + thirdWedge.completed;
        
    //   if (firstWedge.attempted === false && firstWedge.completed === false && firstWedge.awake === true){
    //       firstWedge.alpha = firstWedge.shadowWedgeAlpha(arrow.rotation % 360);
    //   } 
      
    //   if (secondWedge.attempted === false && secondWedge.completed === false && secondWedge.awake === true){
    //       secondWedge.alpha = secondWedge.shadowWedgeAlpha(arrow.rotation % 360);
    //   } 
      
    //   if (thirdWedge.attempted === false && thirdWedge.completed === false && thirdWedge.awake === true){
    //       thirdWedge.alpha = thirdWedge.shadowWedgeAlpha(arrow.rotation % 360);
    //   } 
      
      if (spacebarState === true) {
            cursorWedge.graphics.moveTo(0,0);
            cursorWedge.graphics.arc(0,0,150,cursorWedgeStart * Math.PI/180, arrow.rotation * Math.PI/180);
      }

      stage.update();
    }


    function oldKeyDown(event) {

        switch (event.keyCode) { //in case we want other keys
            case KEYCODE_SPACEBAR:
                if (!event.repeat) {
                    cursorWedge.graphics.f(createjs.Graphics.getRGB(0, 0, 0, 0.25));
                    spacebarState = true;
                    cursorWedgeStart = arrow.rotation;

                    cont.addChild(cursorWedge);
                    cont.setChildIndex(cursorWedge, cont.getNumChildren() - 1);

                    gongSound = createjs.Sound.play("Gong");


                    if (firstWedge.completed === false) {

                        firstWedge.attempted = firstWedge.checkTapProximity(cursorWedgeStart);
                        if (firstWedge.attempted === true) {
                            debugtext.text = "Yeah! Keep going!";
                            firstWedge.color = "Gold";
                            firstWedge.alpha = 1;
                            secondWedge.awake = true;
                            break;
                        } else {
                            youFuckedUp(1);
                            break;
                        }

                    } else {
                        secondWedge.attempted = secondWedge.checkTapProximity(cursorWedgeStart);
                    }

                    if (secondWedge.completed === false ){
                        
                        if (secondWedge.attempted === true) {
                            debugtext.text = "Yeah! Keep going!";
                            secondWedge.color = "Gold";
                            secondWedge.alpha = 1;
                            thirdWedge.awake = true;
                            break;
                        } else {
                            youFuckedUp(2);
                            break;
                        }
                    } else {
                            thirdWedge.attempted = thirdWedge.checkTapProximity(cursorWedgeStart);
                    }
                    
                    if (thirdWedge.attempted === true) {

                        thirdWedge.color = "Gold";
                        thirdWedge.alpha = 1;
                        debugtext.text = "Yeah! Keep going!";
                        break;

                    } else {
                        youFuckedUp(3);
                        break;
                    }
                }

                    break;
                }

}

    function oldKeyUp(event) {
		switch(event.keyCode) {
			case KEYCODE_SPACEBAR:
			    spacebarState = false;
                debugtext.color = "Black";			    
                gongSound.stop();
			    cursorWedge.graphics.clear();
			    cont.removeChild(cursorWedge);
    	        debugtext.text = "";
  
    	        if (firstWedge.attempted === true) {

                    firstWedge.completed = firstWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    	            if (firstWedge.completed === true) {
    	               debugtext.text = "First wedge complete!";    	       
                       firstWedge.color =  "ForestGreen" ;    	       
            	       firstWedge.alpha = 1;
            	       firstWedge.completed = true;
            	       firstWedge.attempted = false;
    	            } else {
                        youFuckedUp(1);
    	            }
    	            
    	        }

    	        if (secondWedge.attempted === true) {
    	            
                    secondWedge.completed = secondWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    	            if (secondWedge.completed === true) {
    	               debugtext.text = "Second wedge complete!";    	       
                       secondWedge.color =  "ForestGreen" ;    	       
            	       secondWedge.alpha = 1;
            	       secondWedge.completed = true;
            	       secondWedge.attempted = false;
    	            } else {
    	                
                       youFuckedUp(2);  
    	            }
    	            
    	        }    	        
    	        
    	        if (thirdWedge.attempted === true) {

                    thirdWedge.completed = thirdWedge.checkReleaseProximity(arrow.rotation % 360);    	            
    	            if (thirdWedge.completed === true) {
    	               debugtext.text = "LEVEL COMPLETE!";    	       
                       thirdWedge.color =  "ForestGreen" ;    	       
            	       thirdWedge.alpha = 1;
            	       thirdWedge.completed = true;
            	       thirdWedge.attempted = false;            	       
    	            } else {
                    youFuckedUp(3);  
    	            }
    	            
    	        } 
    	        
    	        
				break;
		}

	}

  </script>
  
</head>
<body onload="init();">
 
  <%= yield %>

   <canvas id="canvas" width="500" height="500">   </canvas>
</body>
</html>
